.DS_Store
.env

.idea/*
.vscode/*

gcp_credentials.json
sample.env
extraction.py
docker-compose.yml
.json
config
docker-compose.yaml
new_indexer.py

.pytest_cache
__pycache__/*
venv/*
/llm/__pycache__/*
/storage/__pycache__/*
/translation/__pycache__/*
/utils/__pycache__/*
/vectorstores/__pycache__/*